@charset "UTF-8";

html {
    font-size: 100%;
}

body { 
    margin: 0px;
    -webkit-text-size-adjust: 100%;
}

.appname {
    padding-left: 2%;
    color: rgb(255, 255, 255);
    font-size: xx-large;
    font-weight: bolder;
    text-shadow:1px 1px 0 black;
    background: rgb(148, 251, 255);
    padding: 12px 30px;
    display: inline-block;
    border-radius: 10px;
    text-decoration: none;
}

th, td {
    padding: 6px;
}

hr {
    margin: 1rem 0;
}

.sentence {
    padding-top: 2px;
    line-height: 1em;
    text-align: center;
}

.sentence2 {
    padding: 0 2rem;
}

.button {
    color: white;
    background: #000000;
    padding: 0.5em 0;
    width: 80%;
    margin: 2px 0;
    display: inline-block;
    text-align: center;
    text-decoration: none;
}

.ranking-button {
    color: blue;
    background: white;
    font-weight: bolder;
    padding: 0.5em 0;
    width: 100%;
    display: inline-block;
    text-align: center;
    text-decoration: none;
}

.to-ranking-button {
    color: blue;
    background: white;
    font-weight: bolder;
    padding: 0.5em 0;
    width: 100%;
    display: inline-block;
    text-align: left;
    text-decoration: none;
}

.level-button {
    color: white;
    background: #000000;
    font-weight: bolder;
    padding: 0.5em 0;
    width: 18%;
    margin: 2px 0;
    display: inline-block;
    text-align: center;
    text-decoration: none;
}

.inline {
    text-align: center;
}

.rival-inline {
    text-align: center;
}

.level-inline {
    text-align: center;
}

.rival-settings {
    text-align: center;
    margin: 1rem;
}

.rival-resister {
    text-align: center;
}

.rival-inline {
    margin-bottom: 0.5rem;
}

.rival-link {
    font-weight: bolder;
    text-decoration: none;
}

.bd-callout {
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #e9ecef;
    border-left-width: .25rem;
    border-radius: .25rem;
}

.bd-callout-info {
    border-left-color: #5bc0de;
}

.bd-callout-warning {
    border-left-color: #f0ad4e;
}

.bd-callout-danger {
    border-left-color: #d9534f;
}

.form-control {
    width: initial;
}

.input-group > .form-control {
    flex: initial;
    width: initial;
}

.title {
    margin: 1rem;
}