<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}">
    <title>SDVX-EXスコアツール</title>
</head>
<body>
    <header class="site-header wrapper">
        <div class="header">
            <h1 class="appname">SDVX-EXスコアツール</h1>
        </div>
    </header>
    <div class="login-form">
        <form action="/login/signup/try" method="POST"
                class="pure-form pure-form-stacked">
            <legend>アカウント登録のため、ユーザー名とパスワードを入力してください</legend>
            <fieldset>
                <label for="user">ユーザー名</label>
                <input type="text" name="user" id="user">
                <label for="pw">パスワード</label>
                <input type="password" name="pw" id="pw">
                <button type="submit"
                        class="pure-button pure-button-primary">
                    新規登録</button>
            </fieldset>
        </form>
    </div>
    <div class="signup-form">

    </div>
    <hr>

    <hr>
    <footer class="site-footer wrapper">
        <div class="footer">
        </div>
    </footer>
</body>
</html>