{%- extends "layout.html" %}
{%- block content %}
    <div id="hiscore" class="container">
        <h1 class="title">{{mode}}のEXスコア更新</h1>
        {% if resister_error_list|length > 0 %}
        <div class="bd-callout bd-callout-danger">
            <p>一部の譜面において、スコアデータを登録することができませんでした。</p>
            <p>登録することができなかった譜面の情報(最大100件)を下に記載させていただきます。</p>
            <p>この譜面の情報につきましてはログとして記録しており、こちらのデータに不備が見つかった場合は直ちに修正いたします。</p>
            なお、「今回のEXスコア更新」はいつも通り下に記載しております。
        </div>
        <div class="card">
            <div class="card-body">
                {% for error_data in resister_error_list %}
                <li>{{ error_data["楽曲名"] }}[{{ error_data["難易度"] }}]</li>
                {% endfor %}
            </div>
        </div>
        <hr>
        {% endif %}
        {% for i in range(data_num) %}
        <div class="card">
            <div class="card-body">
                <p>{{ hi_score_list[-i-1]["楽曲名"] }}[{{ hi_score_list[-i-1]["難易度"] }} {{ hi_score_list[-i-1]["レベル"] }}]</p>
                {% if "MAX" in hi_score_list[-i-1] %}
                {{ hi_score_list[-i-1]["更新前スコア"] }}(MAX-{{ hi_score_list[-i-1]["MAX"] - hi_score_list[-i-1]["更新前スコア"] }}) → <b>{{ hi_score_list[-i-1]["更新後スコア"] }}(MAX-{{ hi_score_list[-i-1]["MAX"] - hi_score_list[-i-1]["更新後スコア"] }})[+{{ hi_score_list[-i-1]["更新後スコア"] - hi_score_list[-i-1]["更新前スコア"] }}]</b>
                {% else %}
                {{ hi_score_list[-i-1]["更新前スコア"] }} → <b>{{ hi_score_list[-i-1]["更新後スコア"] }}[+{{ hi_score_list[-i-1]["更新後スコア"] - hi_score_list[-i-1]["更新前スコア"] }}]</b>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
{%- endblock %}