<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" media="screen and (max-width:768px)" href="{{ url_for('static', filename = 'css/sp-style.css') }}">
    <link rel="stylesheet" media="screen and (min-width:769px)" href="{{ url_for('static', filename = 'css/style.css') }}">
    <title>SDVX-EXスコアツール</title>
</head>
<body>
    <header class="site-header wrapper">
        <div class="header">
            <a href="/" class="appname">SDVX-EXスコアツール</a>
        </div>
    </header>
    <p>こんにちは、{{user_name}}さん</p>
    <hr>
    <p>ユーザーID: {{ user }}</p>
    <p>ユーザー名: {{ user_name }}</p>
    <hr>
    <div class="inline">
        <a href="{{url_for('resister')}}" class="button">スコア登録</a>
        <a href="{{url_for('recently_hiscore')}}" class="button">更新スコア確認</a>
        <a href="{{url_for('myscore')}}" class="button">スコア確認</a>
        <a href="{{url_for('strengths')}}" class="button">武器曲</a>
        <a href="{{url_for('rival')}}" class="button">好敵手</a>
        <a href="{{url_for('notice')}}" class="button">通知</a>
        <a href="{{url_for('settings')}}" class="button">設定</a>
        <a href="{{url_for('logout')}}" class="button">ログアウト</a>
        <a href="{{url_for('manual')}}" class="button">使い方</a>
    </div>
    <hr>
    <div class="spuc-list">
        EXH譜面以上におけるS-PUC数
        <table border="1">
            <tr>
                <th>レベル</th>
                <th>S-PUC数</th>
                <th>譜面数</th>
            </tr>
            {% for i in range(spuc_data|length) %}
            <tr>
                <td style="text-align: right;">{{ i+7 }}</td>
                <td style="text-align: right;">{{ spuc_data[i] }}</td>
                <td style="text-align: right;">{{ num_data[i] }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <hr>
    <footer class="site-footer wrapper">
        <div class="footer">
        </div>
    </footer>
</body>
</html>