{%- extends "layout.html" %}
{%- block content %}
    <div id="myscore-list" class="container">
        <h1 class="title">LEVEL {{ level }}</h1>
        <div class="table-responsive">
            <table class="table table-striped score-table">
                <thead class="table-light">
                    <tr>
                        <th class="col-9 sp-score-music-name">楽曲名</th>
                        <th class="col-1">難易度</th>
                        <th class="col-1">EXスコア</th>
                        <th class="col-1">MAX-</th>
                    </tr>
                </thead>
                <tbody>
                    {% for data in my_score_list %}
                    <tr>
                        <td><a class="ranking-button" href="/ranking/{{ data['effect_id'] }}">{{ data["楽曲名"] }}</a></td>
                        <td>{{ data["難易度"] }}</td>
                        <td>{{ data["EXスコア"] }}</td>
                        <td>MAX-{{ data["MAX-"] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
 {%- endblock %}