<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}">
    <title>SDVX-EXスコアツール</title>
</head>
<body>
    <header class="site-header wrapper">
        <div class="header">
            <h1 class="appname">SDVX-EXスコアツール</h1>
        </div>
    </header>
    <div class="login-form">
        <form action="/login/try" method="POST"
                class="pure-form pure-form-stacked">
            <legend>ログインしてください</legend>
            <fieldset>
                <label for="user">ユーザーID</label>
                <input type="text" name="user" id="user"><br/>
                <label for="pw">パスワード</label>
                <input type="password" name="pw" id="pw"><br/>
                <button type="submit"
                        class="pure-button pure-button-primary">
                    ログイン</button>
            </fieldset>
        </form>
    </div>
    <div class="signup-form">
        <a href="{{url_for('signup')}}" class="button">新規登録はこちらから</a>
        <a href="{{url_for('manual')}}" class="button">使い方</a>
    </div>
    <hr>
    <h2>お知らせ</h2>
    <p>
        本サービスの「スコア登録」にて、Help me， CODYYYYYY!![GRV]か、ごりらがいるんだ ～かぼちゃが歌ってみたver～[INF]のプレイデータが含まれるスコアデータの登録が行なえないという不具合がありました、
        誠に申し訳ございません。この不具合は現在修正されております。引き続き、本サービスをよろしくお願いいたします。
    </p>
    <hr>
    <footer class="site-footer wrapper">
        <div class="footer">
        </div>
    </footer>
</body>
</html>