<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" media="screen and (max-width:768px)" href="{{ url_for('static', filename = 'css/sp-style.css') }}">
    <link rel="stylesheet" media="screen and (min-width:769px)" href="{{ url_for('static', filename = 'css/style.css') }}">
    <title>SDVX-EXスコアツール</title>
</head>
<body>
    <header class="site-header wrapper">
        <div class="header">
            <a href="/" class="appname">SDVX-EXスコアツール</a>
        </div>
    </header>
    <h2>SDVX-EXスコアツールの使い方や概要</h2>
    <hr>
    <div class="manual">
        <h3>[重要]本サービスを使うために必要なこと</h3>
        <li>本サービスのアカウント作成</li>
        <li>e-amusement プレミアムコース加入[550円/月(税込)]</li>

        <h3>アカウント作成について</h3>
        <p>
            ログインページの「新規登録はこちらから」から、アカウント作成を行なってください。
            新規登録時に入力していただいたユーザーIDとパスワードはログイン時に必要となるため、大切に保管してください。
        </p>
        <p>
            また、ユーザーIDで用いることのできる文字は英数字とアンダーバー(_)のみであり、1文字以上16文字以下にしてください。
            パスワードは4文字以上にしてください。
            なお、これらは後から変更することはできないため、ご注意ください。特にユーザーIDは好敵手などで他の方も閲覧することができるため、その点もご注意ください。
        </p>
        <p>
            アカウント作成後は、「設定」からユーザー名の変更を行なうことを推奨します。初期状態では、ユーザーIDとなっています。
            ただし、現時点でユーザー名で用いることのできる文字は英数字とアンダーバー(_)のみです。そして、ユーザー名も1文字以上16文字以下にしてください。
        </p>

        <h3>スコア登録について</h3>
        <p>
            まず「SOUND VOLTEX EXCEED GEAR」公式サイトの「PLAY DATA」→「スコアデータ/CSVダウンロード」からスコアデータをコピーした後、本サービスの「スコア登録」から、先ほどコピーしたスコアデータをペーストし、「送信」をクリックすることで、スコア登録を行なうことができます。
            その際、今回のスコア登録でEXスコアを更新した譜面の情報と更新前後のEXスコアを確認することができます。ただし、記載することができる譜面の情報などは100件までです、ご了承ください。
        </p>
        <p>
            スコア登録時に「今回のEXスコア更新」にて何も表示されることがない場合がありますが、「今回のEXスコア更新」のページに遷移した場合は正常にスコアデータは登録されていますのでご安心ください。
        </p>
        <p>
            また、本サービスにおける新曲データの追加状況や予期せぬ公式による一部の楽曲名の変更などにより、一部の譜面において正常にスコアデータが登録されない場合があります。
            その場合は「今回のEXスコア更新」のページにてその譜面の情報(最大100件)を記載させていただきます。そして、私もデータ修正のためにその譜面の情報について取得することができるようにしております、ご了承ください。
        </p>
        <h3>更新スコア確認について</h3>
        <p>
            本サービスの「更新スコア確認」から、直近のEXスコアを更新した譜面の情報と更新前後のEXスコアを確認することができます。
            ただし、こちらも記載することができる譜面の情報などは100件までです、ご了承ください。
        </p>
        <h3>スコア確認について</h3>
        <p>
            本サービスの「スコア確認」からレベルを選択することで、そのレベルの譜面における自分のEXスコアを確認することができます。
        </p>
        <h3>ランキングについて</h3>
        <p>
            本サービスの「スコア確認」の「ランキングへ」から、譜面ごとに本サービス利用者の中でのランキングを確認することができます。
            また、ランキングに記載されるユーザー名から、そのアカウントのユーザーページにアクセスすることができます。
            現時点では上位100位まで記載しています。なお、スコア公開設定を非公開に設定している方がランキングに入っている場合、その方に関しては
            ユーザー名を「[SECRET]」と置き換えています。また、記載されるランキングは日付が変わるタイミング(午前0時)で自動的に更新されます。スコア登録と同時に更新されるものではないため、ご了承ください。
        </p>
        <h3>武器曲について</h3>
        <p>
            本サービスの「武器曲」から、他の本サービス利用者と比べてEXスコアが上位に位置している譜面を確認することができます。
            この際、記載される譜面に関するデータは上位〇〇%の数字が小さい順に並んでおり、現時点では多めに300件まで記載しています。
            また、ここで記載される情報は日付が変わるタイミング(午前0時)で自動的に更新されます。こちらもスコア登録と同時に更新されるものではないため、ご了承ください。
            今後ではレベルで譜面を絞り込む機能や、上位〇〇%の数字が大きい順に並び替える機能の追加を考えております。
        </p>
        <p>
            そして、本サービスは仮公開されてから間もないために登録されているスコアデータが不足しており、現時点ではあまりこの機能が機能していない状態です。
            そのため、是非ともスコア登録にご協力お願いいたします。
        </p>
        <h3>通知について</h3>
        <p>
            本サービスにおいて自分が好敵手登録している方が、ある譜面でEXスコアを更新し、自分のEXスコア以下から自分のEXスコア以上となった場合、
            本サービスの「通知」から、その譜面の情報と好敵手の更新前後のEXスコアなどを通知として送られ、確認することができます。
            ただし、好敵手がスコア公開設定を非公開に設定していた場合、その方からにおいては通知が送られることはありません。
            また、自分のEXスコアが0である譜面においても、通知が送られることはありません。
            そして、こちらも記載することができる譜面の情報などは直近の100件までです、ご了承ください。
        </p>
        <h3>好敵手について</h3>
        <p>
            本サービスの「好敵手」から、好敵手の設定状況の確認やユーザー検索を行なうことができます。現時点では、好敵手に設定することができるアカウントの数の上限はありません。
        </p>
        <h3>設定について</h3>
        <p>
            本サービスの「設定」から、ユーザー名の変更やスコア公開設定の変更を行なうことができます。
            スコア公開設定を非公開にした場合、ランキングに自分のユーザー名が記載されることやユーザーページにS-PUC数が記載されること、自分のスコア更新による逆好敵手への通知が送られることがなくなります。
            投げ合いの大会などが控えていて「誰かにスコアや詰めている譜面を知られたくない」などの理由が無い場合は、基本的には公開に設定することを推奨します。
        </p>
        <h3>新曲データ追加について</h3>
        <p>ご了承ください。
        </p>
            本サービスでは新曲データの追加を半手動で行なっています。
            そのため、こちらが新曲データの追加を行なう前にその新曲のスコアが記載されたスコアデータを登録した場合、その譜面につきましてはスコアデータが登録されません、ご了承ください。
        <h3>問い合わせ先</h3>
        <p>
            もしも何か不具合等がありましたら、<a href="https://twitter.com/Re_gi_A">@Re_gi_A</a>までご連絡いただけると幸いです。
        </p>
        <h3>この先の本サービスのアップデートについて</h3>
        <p>
            現時点では、本サービスのレイアウトの変更を考えております。
            是非とも本サービス、「SDVX-EXスコアツール」をよろしくお願いいたします。
        </p>
        <hr>
        <p>
            <p>developed by <a href="https://twitter.com/Re_gi_A">@Re_gi_A</a></p>
        </p>
    </div>
    <hr>

    <footer class="site-footer wrapper">
        <div class="footer">
        </div>
        <hr>
    </footer>
</body>
</html>