<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}">
    <title>SDVX-EXスコアツール</title>
</head>
<body>
    <header class="site-header wrapper">
        <div class="header">
            <h1 class="appname">SDVX-EXスコアツール</h1>
        </div>
    </header>
    <h2>SDVX-EXスコアツールの使い方や概要</h2>
    <hr>
    <div class="manual">
        <h3>[重要]現在の本サービスの状況について</h3>
        <p>
            現時点では、本サービスは仮公開という形で公開をしている状況です。そのため、予期せぬトラブルが起きた場合、
            急に本サービスの公開を中断することがあります、ご了承ください。
        </p>
        <h3>[重要]本サービスを使うために必要なこと</h3>
        <li>本サービスのアカウント作成</li>
        <li>e-amusement プレミアムコース加入[550円/月(税込)]</li>

        <h3>アカウント作成について</h3>
        <p>
            ログインページの「新規登録はこちらから」から、アカウント作成を行なってください。
            新規登録時に入力していただいたユーザーIDとパスワードはログイン時に必要となるため、大切に保管してください。
        </p>
        <p>
            また、ユーザーIDで用いることのできる文字は英数字とアンダーバー(_)のみであり、設定することができるパスワードは4文字以上のパスワードのみです。
            なお、これらは後から変更することはできないため、ご注意ください。
        </p>
        <p>
            アカウント作成後は、「設定」からユーザー名の変更を行なうことを推奨します。初期状態では、ユーザーIDとなっています。
            ただし、現時点でユーザー名で用いることのできる文字は英数字とアンダーバー(_)のみです。
        </p>

        <h3>スコア登録について</h3>
        <p>
            まず「SOUND VOLTEX EXCEED GEAR」公式サイトの「PLAY DATA」→「スコアデータ/CSVダウンロード」からスコアデータをコピーした後、本サービスの「スコア登録」から、先ほどコピーしたスコアデータをペーストし、「送信」をクリックすることで、スコア登録を行なうことができます。
            その際、今回のスコア登録でEXスコアを更新した譜面の情報と更新前後のEXスコアを確認することができます。ただし、記載することができる譜面の情報などは100件までです、ご了承ください。
        </p>
        <h3>更新スコア確認について</h3>
        <p>
            本サービスの「更新スコア確認」から、直近のEXスコアを更新した譜面の情報と更新前後のEXスコアを確認することができます。
            ただし、こちらも記載することができる譜面の情報などは100件までです、ご了承ください。
        </p>
        <h3>通知について</h3>
        <p>
            本サービスにおいて自分が好敵手登録している方が、ある譜面でEXスコアを更新し、自分のEXスコア以下から自分のEXスコア以上となった場合、
            本サービスの「通知」から、その譜面の情報と好敵手の更新前後のEXスコアなどを通知として送られ、確認することができます。
            ただし、好敵手がスコア公開設定を非公開に設定していた場合、その方からにおいては通知が送られることはありません。
            また、自分のEXスコアが0である譜面においても、通知が送られることはありません。
            そして、こちらも記載することができる譜面の情報などは直近の100件までです、ご了承ください。
        </p>
        <h3>好敵手について</h3>
        <p>
            本サービスの「好敵手」から、好敵手の設定状況の確認や好敵手登録解除を行なうことができます。現時点では、好敵手に設定することができるアカウントの数の上限はありません。
        </p>
        <h3>設定について</h3>
        <p>
            本サービスの「設定」から、ユーザー名の変更やスコア公開設定の変更を行なうことができます。
            スコア公開設定を非公開にした場合、自分のスコア更新による逆好敵手への通知が送られることがなくなります。
            投げ合いの大会などが控えていて「誰かにスコアや詰めている譜面を知られたくない」などの理由が無い場合は、基本的には公開に設定することを推奨します。
        </p>
        <h3>新曲データ追加について</h3>
        <p>
            本サービスでは新曲データの追加を半手動で行なっています。そのため、こちらが新曲データの追加を行なう前にその新曲のスコアが記載されたスコアデータを登録しようとした場合、エラーが起きてしまいます...ご了承ください。私もなるべく早く新曲データ追加を行なえるように頑張ります...!
        </p>
        <h3>この先の本サービスのアップデートについて</h3>
        <p>
            現時点では、デバッグとプログラム修正をメインに本サービスを改良しています。本サービスを問題なく公開できそうだと判断できた場合は、本サービスの外観の改良や機能追加を考えております。
            是非とも本サービス、「SDVX-EXスコアツール」をよろしくお願いいたします。
        </p>
    </div>
    <hr>

    <footer class="site-footer wrapper">
        <div class="footer">
            <p>developed by <a href="https://twitter.com/Re_gi_A">@Re_gi_A</a></p>
        </div>
        <hr>
    </footer>
</body>
</html>