<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}">
    <title>SDVX-EXスコアツール</title>
</head>
<body>
    <header class="site-header wrapper">
        <div class="header">
            <h1 class="appname">SDVX-EXスコアツール</h1>
        </div>
    </header>
    <div class="notice">
        <p>通知</p>
        {% for i in range(data_num) %}
        <hr>
        {% if notice_list[-i-1]["スコア"] != notice_list[-i-1]["好敵手更新後スコア"] %}

        {% if "MAX" in notice_list[-i-1] %}
        <p>{{notice_list[-i-1]["好敵手名"]}}さんが
            {{notice_list[-i-1]["楽曲名"]}}[{{notice_list[-i-1]["難易度"]}} {{notice_list[-i-1]["レベル"]}}]
            において、あなたのEXスコア {{notice_list[-i-1]["スコア"]}}(MAX-{{notice_list[-i-1]["MAX"] - notice_list[-i-1]["スコア"]}}) を抜かしました。</p>
        <p>{{notice_list[-i-1]["好敵手名"]}}さんのスコア:
            {{ notice_list[-i-1]["好敵手更新前スコア"] }}(MAX-{{ notice_list[-i-1]["MAX"] - notice_list[-i-1]["好敵手更新前スコア"] }})&nbsp;&nbsp;&nbsp;---[+{{ notice_list[-i-1]["好敵手更新後スコア"] - notice_list[-i-1]["好敵手更新前スコア"] }}]→&nbsp;&nbsp;&nbsp;{{ notice_list[-i-1]["好敵手更新後スコア"] }}(MAX-{{ notice_list[-i-1]["MAX"] - notice_list[-i-1]["好敵手更新後スコア"] }})</p>
        {% else %}
        <p>{{notice_list[-i-1]["好敵手名"]}}さんが
            {{notice_list[-i-1]["楽曲名"]}}[{{notice_list[-i-1]["難易度"]}} {{notice_list[-i-1]["レベル"]}}]
            において、あなたのEXスコア {{notice_list[-i-1]["スコア"]}} を抜かしました。</p>
        <p>{{notice_list[-i-1]["好敵手名"]}}さんのスコア:
            {{ notice_list[-i-1]["好敵手更新前スコア"] }}&nbsp;&nbsp;&nbsp;---[+{{ notice_list[-i-1]["好敵手更新後スコア"] - notice_list[-i-1]["好敵手更新前スコア"] }}]→&nbsp;&nbsp;&nbsp;{{ notice_list[-i-1]["好敵手更新後スコア"] }}</p>
        {% endif %}

        {% else %}

        {% if "MAX" in notice_list[-i-1] %}
        <p>{{notice_list[-i-1]["好敵手名"]}}さんが
            {{notice_list[-i-1]["楽曲名"]}}[{{notice_list[-i-1]["難易度"]}} {{notice_list[-i-1]["レベル"]}}]
            において、あなたのEXスコア {{notice_list[-i-1]["スコア"]}}(MAX-{{notice_list[-i-1]["MAX"] - notice_list[-i-1]["スコア"]}}) と並びました。</p>
        <p>{{notice_list[-i-1]["好敵手名"]}}さんのスコア:
            {{ notice_list[-i-1]["好敵手更新前スコア"] }}(MAX-{{ notice_list[-i-1]["MAX"] - notice_list[-i-1]["好敵手更新前スコア"] }})&nbsp;&nbsp;&nbsp;---[+{{ notice_list[-i-1]["好敵手更新後スコア"] - notice_list[-i-1]["好敵手更新前スコア"] }}]→&nbsp;&nbsp;&nbsp;{{ notice_list[-i-1]["好敵手更新後スコア"] }}(MAX-{{ notice_list[-i-1]["MAX"] - notice_list[-i-1]["好敵手更新後スコア"] }})</p>
        {% else %}
        <p>{{notice_list[-i-1]["好敵手名"]}}さんが
            {{notice_list[-i-1]["楽曲名"]}}[{{notice_list[-i-1]["難易度"]}} {{notice_list[-i-1]["レベル"]}}]
            において、あなたのEXスコア {{notice_list[-i-1]["スコア"]}} と並びました。</p>
        <p>{{notice_list[-i-1]["好敵手名"]}}さんのスコア:
            {{ notice_list[-i-1]["好敵手更新前スコア"] }}&nbsp;&nbsp;&nbsp;---[+{{ notice_list[-i-1]["好敵手更新後スコア"] - notice_list[-i-1]["好敵手更新前スコア"] }}]→&nbsp;&nbsp;&nbsp;{{ notice_list[-i-1]["好敵手更新後スコア"] }}</p>
        {% endif %}

        {% endif %}

        {% endfor %}
    </div>
    <hr>

    <hr>
    <footer class="site-footer wrapper">
        <div class="footer">
        </div>
    </footer>
</body>
</html>