{%- extends "layout.html" %}
{%- block content %}
    <div id="notice" class="container">
        <h1 class="title">通知</h1>
        {% for i in range(data_num) %}
        <div class="card">
            <div class="card-body">
            {% if notice_list[-i-1]["スコア"] != notice_list[-i-1]["好敵手更新後スコア"] %}

            {% if "MAX" in notice_list[-i-1] %}
                <p>{{notice_list[-i-1]["楽曲名"]}}[{{notice_list[-i-1]["難易度"]}} {{notice_list[-i-1]["レベル"]}}]のEXスコア({{notice_list[-i-1]["スコア"]}}(MAX-{{notice_list[-i-1]["MAX"] - notice_list[-i-1]["スコア"]}}))が 
                    {{notice_list[-i-1]["好敵手名"]}} さんに抜かされました。</p>
                {{notice_list[-i-1]["好敵手名"]}}さんのスコア: {{ notice_list[-i-1]["好敵手更新前スコア"] }}(MAX-{{ notice_list[-i-1]["MAX"] - notice_list[-i-1]["好敵手更新前スコア"] }}) → <b>{{ notice_list[-i-1]["好敵手更新後スコア"] }}(MAX-{{ notice_list[-i-1]["MAX"] - notice_list[-i-1]["好敵手更新後スコア"] }})[+{{ notice_list[-i-1]["好敵手更新後スコア"] - notice_list[-i-1]["好敵手更新前スコア"] }}]</b>
            {% else %}
                <p>{{notice_list[-i-1]["楽曲名"]}}[{{notice_list[-i-1]["難易度"]}} {{notice_list[-i-1]["レベル"]}}]のEXスコア({{notice_list[-i-1]["スコア"]}})が 
                    {{notice_list[-i-1]["好敵手名"]}} さんに抜かされました。</p>
                {{notice_list[-i-1]["好敵手名"]}}さんのスコア: {{ notice_list[-i-1]["好敵手更新前スコア"] }} → <b>{{ notice_list[-i-1]["好敵手更新後スコア"] }}[+{{ notice_list[-i-1]["好敵手更新後スコア"] - notice_list[-i-1]["好敵手更新前スコア"] }}]</b>
            {% endif %}

            {% else %}

            {% if "MAX" in notice_list[-i-1] %}
                <p>{{notice_list[-i-1]["楽曲名"]}}[{{notice_list[-i-1]["難易度"]}} {{notice_list[-i-1]["レベル"]}}]のEXスコアが {{notice_list[-i-1]["好敵手名"]}} さんに並ばれました。</p>
                {{notice_list[-i-1]["好敵手名"]}}さんのスコア: {{ notice_list[-i-1]["好敵手更新前スコア"] }}(MAX-{{ notice_list[-i-1]["MAX"] - notice_list[-i-1]["好敵手更新前スコア"] }}) → <b>{{ notice_list[-i-1]["好敵手更新後スコア"] }}(MAX-{{ notice_list[-i-1]["MAX"] - notice_list[-i-1]["好敵手更新後スコア"] }})[+{{ notice_list[-i-1]["好敵手更新後スコア"] - notice_list[-i-1]["好敵手更新前スコア"] }}]</b>
            {% else %}
                <p>{{notice_list[-i-1]["楽曲名"]}}[{{notice_list[-i-1]["難易度"]}} {{notice_list[-i-1]["レベル"]}}]のEXスコアが {{notice_list[-i-1]["好敵手名"]}} さんに並ばれました。</p>
                {{notice_list[-i-1]["好敵手名"]}}さんのスコア: {{ notice_list[-i-1]["好敵手更新前スコア"] }} → <b>{{ notice_list[-i-1]["好敵手更新後スコア"] }}[+{{ notice_list[-i-1]["好敵手更新後スコア"] - notice_list[-i-1]["好敵手更新前スコア"] }}]</b>
            {% endif %}

            {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
{%- endblock %}