{%- extends "layout.html" %}
{%- block content %}
    <div id="ranking-list" class="container">
        <h1 class="title" style="text-align: center;">{{ effect_data["楽曲名"] }}[{{ effect_data["難易度"] }} {{ effect_data["レベル"] }}]</h1>
        <div class="ranking-table">
            <table class="table table-striped">
                <tr>
                    <th>順位</th>
                    <th>ユーザー名</th>
                    <th>EXスコア</th>
                    <th>MAX-</th>
                </tr>
                {% for i in range(ranking_list|length) %}
                {% if current_user_id == ranking_list[i]["ユーザーID"] %}
                <tr style="background-color: lightsalmon;">
                {% else %}
                <tr>
                {% endif %}
                    <td>{{ i+1 }}位</td>
                    {% if ranking_list[i]["ユーザーID"] != "[SECRET]" and ranking_list[i]["ユーザーID"] != "---" %}
                    <td><a class="ranking-button" href='/user/{{ranking_list[i]["ユーザーID"]}}'>{{ ranking_list[i]["ユーザー名"] }}</a></td>
                    {% else %}
                    <td>{{ ranking_list[i]["ユーザー名"] }}</td>
                    {% endif %}
                    <td>{{ ranking_list[i]["EXスコア"] }}</td>
                    <td>MAX-{{ ranking_list[i]["MAX-"] }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{%- endblock %}