<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}">
    <title>SDVX-EXスコアツール</title>
</head>
<body>
    <header class="site-header wrapper">
        <div class="header">
            <h1 class="appname">SDVX-EXスコアツール</h1>
        </div>
    </header>
    <div class="ranking-list">
        {{ effect_data["楽曲名"] }}[{{ effect_data["難易度"] }} {{ effect_data["レベル"] }}]のランキング
        <table border="1">
            <tr>
                <th>順位</th>
                <th>ユーザー名</th>
                <th>EXスコア</th>
                <th>MAX-</th>
            </tr>
            {% for i in range(100) %}
            <tr>
                <td style="text-align: right;">{{ i+1 }}位</td>
                <td>{{ ranking_list[i]["ユーザー名"] }}</td>
                <td style="text-align: right;">{{ ranking_list[i]["EXスコア"] }}</td>
                <td>MAX-{{ ranking_list[i]["MAX-"] }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <hr>

    <hr>
    <footer class="site-footer wrapper">
        <div class="footer">
        </div>
    </footer>
</body>
</html>