{%- extends "layout.html" %}
{%- block content %}
    <div class="resister-form container">
        <div class="bd-callout bd-callout-info">
            スコアデータ(CSV)を貼りつけて、送信ボタンを押してください。
        </div>
        <div class="mb-3">
            <form action="/resister/hiscore" method="POST">
                <textarea class="form-control" name="score" rows="10"></textarea><br/>
                <button class="btn btn-primary" type="submit">送信</button>
            </form>
        </div>
    </div>
{%- endblock %}