{%- extends "layout.html" %}
{%- block content %}
    <div id ="rival" class="container">
        <div class="rival-settings">
            <a href="{{url_for('rival_follow')}}" class="btn btn-primary">好敵手</a>
            <a href="{{url_for('rival_follower')}}" class="btn btn-primary">逆好敵手</a>
        </div>

        <hr>
    
        <div class="rival-resister">
            <p>ユーザーページを表示したいアカウントのユーザーIDを入力してください。</p>
            <form action="/rival/search/try" method="POST">
                <input type="text" name="search-id" id="search-id">
                <button type="submit" class="btn btn-primary"> 検索</button>
            </form>
        </div>
    </div>
{%- endblock %}