{%- extends "layout.html" %}
{%- block content %}
    <div id="settings" class="container">
        <h1 class="title">設定</h1>

        <form action="/settings/change" method="POST">
            <div class="mb-3">
                <label for="user" class="form-label">ユーザー名</p>
                <input type="text" class="form-control" name="new-user-name" id="new-user-name" value={{user_name}}>
                <div id="userHelpBlock" class="form-text">
                    1~16文字以下、英数字とアンダーバー(_)のみ使用可能。
                </div>        
            </div>

            <div class="mb-3">
                <label for="user" class="form-label">スコア公開設定</p>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="score-setting" id="score-setting" value="yes" {{true_checked}}>
                    <label class="form-check-label" for="flexRadioDefault1">
                        公開
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="score-setting" id="score-setting" value="no" {{false_checked}}>
                    <label class="form-check-label" for="flexRadioDefault2">
                        非公開 
                    </label>
                </div>            </div>

            <button type="submit" class="btn btn-primary">更新</button>
        </form>
    </div>
{%- endblock %}