{%- extends "layout.html" %}
{%- block content %}
    <div id="user_page" class="container">
        <div class="row">
            <div class="col-lg-6">
                <h2 class="title">{{user_name}}</h1>
                <div id="user_info" class="card">
                    <div class="card-body">
                        ユーザーID: {{user}}
                    </div>
                </div>
                <div id="register-rival" class="inline" style="margin: 1rem;">
                    {% if is_resistered %}
                    <p>
                        あなたは{{user_name}}さんを<br>
                        好敵手に登録しています
                    </p>
                    <a href="/rival/resister/{{user}}" class="btn btn-danger">好敵手解除</a>
                    {% else %}
                    <p>
                        あなたは{{user_name}}さんを<br>
                        好敵手に登録していません
                    </p>
                    <a href="/rival/resister/{{user}}" class="btn btn-primary">好敵手登録</a>
                    {% endif %}
                </div>
                <div class="sp-register-rival-hr"></div>
            </div>
            <div class="col-lg-6">
                <div id="s-puc" class="inline">
                    <h2 class="title">S-PUC数</h3>
                    <table class="table table-striped table-sm table-bordered table-spuc">
                        <caption>※EXH譜面以上</caption>
                        <thead>
                            <tr>
                                <th>レベル</th>
                                <th>S-PUC数</th>
                                <th>譜面数</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in range(spuc_data|length) %}
                            <tr>
                                <td style="text-align: right;" scope="row">{{ i+7 }}</td>
                                <td style="text-align: right;">{{ spuc_data[i] }}</td>
                                <td style="text-align: right;">{{ num_data[i] }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{%- endblock %}